<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if notice %>
      <p class="notice alert alert-success fade show" role="alert"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% if current_admin%>
      <%= button_to "Admin sign out", account.destroy_admin_session_path, method: :delete %>
    <% end %>

    <% if current_user%>
      <%= button_to "User sign out", account.destroy_user_session_path, method: :delete %>
    <% end %>

    <%= yield %>
  </body>
</html>
