<%= javascript_include_tag "http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js" %>

<h2><%= t('.sign_in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label t(".login") %><br />
    <%= f.text_field :login, autofocus: true, autocomplete: "login" %>
  </div>

  <div class="field">
    <%= f.label t(".password") %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label t(".remember_me") %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('.sign_in') %>
  </div>
<% end %>

<% if Account.phone_login %>
  <%= render "phone_sessions" %>
<% end %>


<% if Account.wechat_login %>
  <h2> wechat login </h2>
  <%# link_to "微信登录-link", "https://sflx.com.cn/get-weixin-code.html?appid=#{"wx70ec68024167dffd"}&redirect_uri=#{request.original_url}&response_type=code&scope=snsapi_base" %>
  <%= button_to "微信登录", "/auth/wechat", form_class: "", method: :post %>
<% end %>

<div id="login_container" data-state=<%= session["omniauth.state"] %> >
</div>

<%= render "users/shared/links" %>
