<!DOCTYPE html>
<html>
<head>
  <title>Account</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "account/application", media: "all" %>
  <%= javascript_include_tag "account/application" %>
</head>
<body class="bg grey lighten-5">

  <div class="container">
    <div class="login-wrap col-6 mx-auto mt-5">
      <div class="card white">
        <div class="card-header text-center white ">
          <div class="h5">
            登录<%= login_corp_name %>
          </div>
        </div>
        <div class="card-body white">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>



</body>
</html>
